[Unit]
Description=Run Cloudflare DDNS updater hourly

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
AccuracySec=30s
Persistent=true
Unit=cloudflare-ddns.service

[Install]
WantedBy=timers.target
